.homeBkgrnd {
    background-color:rgb(242, 105, 90);
    height: 120%;
    width: 100%;
    display: flex;
    display: inline-block; 
}

.home {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.home-heading {
    font-size: 50px;
    margin: 0;
    color: crimson;
    background-color:mistyrose;
}

.home p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    color: crimson;
    background-color:mistyrose;
    
}

.todo-wrapper {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}