.homeBkgrnd {
    background: linear-gradient(to bottom, rgb(250, 138, 126),  rgb(198, 40, 23));
    height: 150%;
    width: 100%;
    display: flex;
    display: inline-block; 
}


.home {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.home-pic {
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    max-width: 500px;
}

.home-heading {
    font-size: 50px;
    margin: 0;
    color: crimson;
    background-color:mistyrose;
}


.home p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    color: crimson;
    background-color:mistyrose;
    
}

.todo-wrapper {
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}