.navbar {
  width: 170px;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed; /* Fixed to the left */
}

.navbar .logo-pic{
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
  max-width: 100%;
}

.navbar ul, .logout-button {
  list-style: none; /* Remove bullets */
  padding: 0;
}

.navbar li {
  padding: 15px 0;
}

.navbar a, .logout-button {
  color: rgb(120, 206, 246);
  text-decoration: none;
  font-size: 20px;
}

.logout-button{
  color: rgb(34, 124, 165);
}
.navbar a:hover {
  background-color: darkgray;
}