.timerBkgrnd {
    /* background:rgb(249, 140, 212); */
    background:#ce74b0;
    height: 100%;
    width: 100%;
    display: flex;
    display: inline-block;  
}

.timer {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(255, 224, 255);
}

.timer h2 {
    font-size: 3rem;
    background-color: plum; 
    color: purple; 
}

.time-display {
    font-size: 5rem;
    font-weight: bold;
    margin: 20px 0;
}

.increment-buttons button {
    padding: 10px 20px;
    min-width: 150px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightblue;
}
  
.increment-buttons button:hover {
    background-color: cadetblue;
}
  
.increment-buttons .active {
    background-color: red;
    color: white;
    font-weight: bold;
}

.start-button {
    padding: 20px 30px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgreen;
}

.start-button:hover {
    background-color: forestgreen;
}

.clockBkgrnd {
    background-color: #ce74b0; 
    padding: 10px;              
    border-radius: 10px;   
    display: flex;
    align-items: center;
    justify-content: center; 
}

.clock-pic {
    height: auto;
    max-width: 25%;
}